.debug #selectedImage {
    background-color: green;
    height: 100%;
    width: 100%;
}

.container {
    width: 2000px;
}

.optionImage {
    width: 300px
}

.option img {
    height: 150px;
    width: 300px;
}

.buttons {
    font-size: 5rem;
    position: relative;
    right: 80px;
}

.upBtn, .downBtn {
    cursor: pointer;
    margin: 1rem 0;
    height: 100px;
}