/* .debug #selectedImage {
    background-color: green;
    height: 100%;
    width: 100%;
} */

.container {
    width: 2000px;
}

#selectedImage img {
    width: 850px;
    height: 416px;
}

#selectedImage p {
    color: white;
    position: absolute;
    top: 75%;
    left: 5%;
}

.option img {
    width: 150px;
}

.buttons {
    font-size: 2rem;
    position: relative;
    right: 130px;
    top: 25px;
}

.upBtn, .downBtn {
    cursor: pointer;
    margin: 1rem 0;
    height: 100px;
}